@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

* {
  font-family: 'Play', sans-serif;
}

#gameCanvas {
  cursor: none;
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#menuScreen {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 2%;
  top: 50%;
  left: 50%;
  color: white;
  border: 0.1vw solid white;
  transform: translate(-50%, -50%);
}

#mainTitle {
  font-size: 5vw;
  margin: 0;
  padding-bottom: 2%;
  filter: drop-shadow(0 0 0.1vw white);
}

#highScoreTitle {
  font-size: 1.5vw;
  margin: 0;
  padding-bottom: 2%;
  filter: drop-shadow(0 0 0.1vw white);
}

#highScoreList {
  font-size: 1vw;
  filter: drop-shadow(0 0 0.1vw white);
  padding: 0;
}

.menuButton {
  cursor: pointer;
  font-size: 2vw;
  background: black;
  filter: drop-shadow(0 0 0.1vw white);
  color: white;
}

.menuButton:hover {
  filter: drop-shadow(0 0 0.5vw white);
  background: white;
  color: black;
}

.menuButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#infoButton {
  margin-top: 6%;
  margin-bottom: 4%;
}

#highScoreDiv {
  display: none;
  align-items: center;
  flex-direction: column;
}

#infoTab {
  display: none;
}