@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

* {
  font-family: 'Manrope', sans-serif;
}

body {
  overflow: hidden;
}

#gameCanvas {
  cursor: none;
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#menuScreen {
  position: absolute;
  animation: fade-in-05 0.3s linear;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 2%;
  top: 50%;
  left: 50%;
  color: white;
  border-radius: 2%;
  border: 0.3vw solid white;
  transform: translate(-50%, -50%);
}

#mainTitle {
  text-align: center;
  font-size: 5vw;
  margin: 0 0 3% 0;
  filter: drop-shadow(0 0 0.1vw white);
}

#highScoreTitle {
  font-size: 1.5vw;
  margin: 0 0 1% 0;
  filter: drop-shadow(0 0 0.1vw white);
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.highScore {
  font-size: 1vw;
  filter: drop-shadow(0 0 0.1vw white);
  padding: 0;
}

.menuButton {
  cursor: pointer;
  font-size: 1.5vw;
  background: black;
  text-shadow: 0 0 0.25vw white;
  filter: drop-shadow(0 0 0.1vw white);
  color: white;
  border: 0;
  padding: 2%;
}

.menuButton:hover {
  filter: drop-shadow(0 0 0.5vw white);
  background: white;
  color: black;
}

.menuButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#infoButton {
  margin-bottom: 4%;
}

#toggleFullscreenButton {
  margin-bottom: 4%;
}

#highScoreDiv {
  display: none;
  padding: 0 5% 5% 5%;
  align-items: center;
  flex-direction: column;
}

#infoText {
  font-size: 1vw;
  padding: 0 5% 5% 5%;
  text-align: left;
  filter: drop-shadow(0 0 0.1vw white);
}

#infoTab {
  display: none;
}

.modal {
  display: none;
  z-index: 1;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

#gameoverModal {
  animation: fade-in-25 0.3s linear;
  padding: 3vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1%;
  box-shadow: 0.5vw 0.5vw black;
}

#closeModal {
  margin-left: 2vw;
  float: right;
  cursor: pointer;
}

#closeModal:hover {
  transform: scale(1.4)
}

#modalTitle {
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalItem {
  margin-bottom: 1vw;
  font-size: 1.25vw;
}

#highScoreForm {
  margin-top: 0.75vw;
  padding-top: 0.75vw;
  display: flex;
  flex-direction: column;
  border-top: 0.1vh solid black;
}

#highScoreNotification {
  font-size: 1.5vw;
}

@keyframes fade-in-25 {
  0% {
    opacity: 0%;
    transform: translateY(2.5%);
  }
  100% {
    opacity: 100%
  }
}

@keyframes fade-in-05 {
  0% {
    opacity: 0%;
    transform: translateY(0.5%);
  }
  100% {
    opacity: 100%
  }
}